.block {
	border-radius:10px;
	height: 100px;
	width:100px;
	background-color: yellow;
	animation-name: block;
	animation-duration:4s;
	animation-iteration-count: infinite;
}

@keyframes block {
	0% {background-color:yellow;}
	25%{}
	50% {background-color:orange; width:900px;}
	75% {background-color:red;}
	100&{background-color:yellow; width:100px}
}
/* transform: translateX(500px); */

.bars {
	float:left;
	height:200px;
	width:50px;
	background-color:white;
	animation: bars 0.5s linear infinite;
	animation-play-state: paused;
	margin: 0 50px;
}
.bars:hover {
	animation-play-state: running;
}
@keyframes bars {
	100%{transform:rotate(180deg);}
}
.grid {
	margin:0 auto;
	height:30px;
	width:30px;
	border-radius: 200px;
	background-color: #FFDC00;
	transition:width 1.1s;
	animation-name:grid;
	animation-iteration-count: infinite;
	animation-duration: 2s;
}
.grid:hover {
	width: 300px;
}
@keyframes grid {
	0% {background-color:#FFDC00;}
	10%{background-color:#FF851B;}
	20%{background-color:#FF4136;}
	30%{background-color:purple;}
	40%{background-color:#39CCCC;}
	50%{background-color:#2ECC40;}
	70%{background-color:purple;}
	80%{background-color:#FF4136;}
	90%{background-color:#FF851B;}
	100%{background-color:#FFDC00;}
}