html{
	height: 100%;
	
}
body {
	height: 100%;
	/* background-size: cover; image size */
	/* background-repeat: no-repeat; */ 
	
}
div.thebig {
	width: 1200px;
	height: 1400px;
	background-color: grey;
	margin: 0 auto;
	margin-top: 150px;
	
}
div.content {
	padding-top: 50px;
	padding-left: 70px;
}
div.btd {
	position: fixed;
	bottom: 0;
	right: 1;
}
ul.nav{ /* the list in respect to the rest of the website ?? */
	opacity: 0.9;
	position: fixed;
	top:0;
	right: -10px;
	margin: 0 ;
	list-style-type: none;
	background-color:black; 
	width: 100%;
}
li{ /* affects the list */
	float: left; /* makes the list go to one side?? */
}
li a{  /* only affects the text*/
	display: block; 
	color: white;
	padding: 20px 40px;
	text-align: center;
	line-height: 20px;
	text-decoration: none;
}
.parallax {
	background-image: url("../Images/back.jpg");
	height:100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size:cover;
	/* blur the background */
}
.logo {
	font-size: 25px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
tr {
	text-align: left;
}
.divider {
	height: 5px;
	width: 1030px;
	background-color: black;

}
p {
	padding-top: 10px;
	color:white;
	font-family:"Arial Black", Gadget, sans-serif;
}
h1 {
	font-family: "Arial Black", Gadget, sans-serif;
	color:white;
}
th {
	font-family:"Arial Black", Gadget, sans-serif;
	color:white;
}
.text {
	padding-top: 10px;
	padding-right: 7px ;
}
button {
	background-color:#f44336;
	size: 40px;
	border: none;
	padding: 20px 10px;
	display: block;
}